html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #000;
}

.checkbox {
    display: inline-block;
    position: relative;
    margin: 1rem;
    
    border: 1px solid #fff;
    background-color: rgb(228, 218, 218);
    padding: 20px;
    
}

.checkbox__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox__label {
    padding-left: 10px;
    font-size: 1rem;
    color: #444;
    cursor: pointer;
}

.checkbox__label:before {

    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    margin-left: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    transition: background .1s linear, border .1s linear;
}

.checkbox__label:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;

    background: url('../icons8-accept-67.png') no-repeat;
    background-size: 29px 29px;
    background-position: center;
    opacity: 0;
    margin-top: 20px;
    margin-left: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    transition: opacity .1s linear;
}

.checkbox__input:checked+.checkbox__label:before {
    background-color: #49d120;
    border-color: #319612;
}


.checkbox__input:checked+.checkbox__label:after {
    opacity: 1;
}